@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.userInfo{
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 2% 5%;
    font-family: 'Poppins', sans-serif;
}

.userInfo ul{
    list-style-type: none;
}
