.login-component{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    width: 50%;
    padding: 5%;
    border-radius: 3%;
    box-shadow: 0px 0px 5px lightgrey;
    background:rgba(255, 255, 255, 1)
}
.link-decoration-login{
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}